body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #87CEEB; /* baby blue */
    color: #000000; /* black */
    height:100vh;
  }
  
  h1,p{
    margin:0 auto;
}
 
  h1 {
    font-size: 3em;
    margin-top: 50px;
  }
  
  p {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  form {
    margin-top: 50px;
  }
  
  input[type="submit"] {
    background-color: #00b0ff;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0080c9;
    transform: scale(1.1);
  }
  
  input[type="submit"]:active {
    background-color: #004080;
    transform: scale(0.9);
  }
  