<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Email Creator</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div style="display: flex;">
        <form method="post" action="/mail">
            <label for="sender">Sender:</label>
            <input type="text" id="sender" name="sender" value="{{form_data.sender}}"><br>
            
            <label for="recipient">Recipient:</label>
            <input type="text" id="recipient" name="recipient" value="{{form_data.recipient}}"><br>
            
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" value="{{form_data.subject}}"><br>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" cols="50">{{ form_data.message }}</textarea><br>
            
            <label for="language">Language:</label>
            <select id="language" name="language">
                <option value="🇩🇪" {{ 'selected' if form_data.language == '🇩🇪' else '' }}>German</option>
                <option value="🇫🇷" {{ 'selected' if form_data.language == '🇫🇷' else '' }}>French</option>
                <option value="🇺🇸" {{ 'selected' if form_data.language == '🇺🇸' else '' }}>English</option>
            </select><br>
          
            <label for="style">Style:</label>
            <select id="style" name="style">
                <option value="formal" {{ 'selected' if form_data.style == 'formal' else '' }}>Formal</option>
                <option value="informal" {{ 'selected' if form_data.style == 'informal' else '' }}>Informal</option>
            </select><br>
          
            <label for="flexSwitchCheckDefault">Respond:</label>
            <input type="checkbox" id="flexSwitchCheckDefault" name="flexSwitchCheckDefault" value="respond" {{'checked' if form_data.respond == 'respond' else ''}}><br>
          
            <input type="submit" value="Submit">
        </form>
        
          
          


        <div style="flex: 1; margin-left: 20px;" id="mail">
            <h2>Generated Email:</h2>
            <div id="placeholder" class="hidden">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
            </div>
            <div id="email">
                <p>{{ greeting }}</p>
                <p>{{ beginning }}</p>
                <p>{{ body }}</p>
                <p>{{ sign_off }}</p>
            </div>
        </div>
        
            <button id="copy-button" onclick="copyText()">Copy</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>function copyText() {
            var copyText = document.getElementById("mail");
            var text = "";
            for (var i = 0; i < copyText.children.length; i++) {
                if(copyText.children[i].nodeName !== "BUTTON" && copyText.children[i].textContent !== "Generated Email:")
                    text += copyText.children[i].textContent + "\n";
            }
            var textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
            console.log("Copied the text: " + text);
        }
        document.documentElement.webkitRequestFullscreen();
        document.documentElement.setAttribute("webkit-reader", "false");
        
        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', e => {
                document.getElementById('language').value = e.target.textContent;
            });
        });
        
        function changeFlag(flag, lang) {
        document.getElementById("flag-button").innerHTML = flag;
        document.getElementById("flag-button").href = '/' + lang;
        }


        function changeStyle(style) {
    document.getElementById("style").value = style;
    document.getElementById("style-button").innerHTML = style;
}

function togglePlaceholder() {
    var placeholder = document.getElementById("placeholder");
    var email = document.getElementById("email");
    placeholder.classList.toggle("hidden");
    email.classList.toggle("hidden");
}

var switchInput = document.getElementById("flexSwitchCheckDefault");
    switchInput.addEventListener("click", function(){
        if(switchInput.checked) {
            switchInput.value = "respond";
            console.log(switchInput.value);
        } else {
            switchInput.value = "";
            console.log(switchInput.value);
        }
    });








        </script>




</body>

</html>