<!DOCTYPE html>
<html>

<head>
    <script src="../js/index.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Email Creator</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MakeA(I)Mail</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/checkout">Premium</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  🇺🇸
                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">🇩🇪</a></li>
                            <li><a class="dropdown-item" href="#">🇫🇷</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
            </div>
        </div>
    </nav>
    <div style="display: flex;">
        <form action="/" method="post" style="flex: 1;">
            <input type="hidden" id="language" name="language" value="🇺🇸">
            <label for="sender">Sender:</label><br>
            <input type="text" id="sender" name="sender" value="{{ sender }}" placeholder="Jane" class="form-input">
            <label for="recipient">Recipient:</label><br>
            <input type="text" id="recipient" name="recipient" value="{{ recipient }}" placeholder="John" class="form-input"><br>
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" value="{{ subject }}" class="form-input"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="50" class="form-input">{{ message }}</textarea><br><br>
            <input type="submit" value="Submit" class="form-submit">
        </form>

        <div style="flex: 1; margin-left: 20px;" id="mail">
            <h2>Generated Email:</h2>
            {% if greeting or beginning or body or sign_off %}
            <p>{{ greeting }}</p>
            <p>{{ beginning }}</p>
            <p>{{ body }}</p>
            <p>{{ sign_off }}</p>
            {% else %}
            <p>Dear [Recipient],</p>
            <p>I hope this email finds you well. I wanted to share with you an exciting new tool that I've been using recently - an AI email writer. It's been a game changer for me and I believe it could be for you too.</p>
            <p>The AI email writer uses advanced natural language processing to understand the context and intent of your emails, and then generates professional, personalized responses in a fraction of the time it would take to write them manually. It's
                been a huge time saver for me, and I've been able to focus on more important tasks.</p>
            <p>Best, [Your Name]</p>
            {% endif %}
            <button id="copy-button" onclick="copyText()">Copy</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>





</body>

</html>