<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Email Creator</title>
</head>
<body>
    <div style="display: flex;">
        <form action="/" method="post" style="flex: 1;">
            <label for="recipient">Recipient:</label><br>
            <input type="text" id="recipient" name="recipient" value="{{ recipient }}" placeholder="John"><br>
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" value="{{ subject }}"><br>
            <label for="style">Style:</label><br>
            <input type="text" id="style" name="style" value="{{ style }}"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="50">{{ message }}</textarea><br><br>
            <input type="submit" value="Submit">
        </form>
        {% if greeting or body or ending %}
        <div style="flex: 1; margin-left: 20px;">
            <h2>Generated Email:</h2>
            <p>{{ greeting }}</p>
            <p>{{ body }}</p>
            <p>{{ ending }}</p>
        </div>
    {% endif %}
    
</body>
</html>


